/* Theme-------------------------------------------------- */
:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  --theme: #fff;
  --entry: #fff;
  --primary: rgba(0, 0, 0, 0.88);
  --secondary: rgba(0, 0, 0, 0.56);
  --tertiary: rgba(0, 0, 0, 0.16);
  --content: rgba(0, 0, 0, 0.88);

  --hljs-bg: #1c1d21;
  --code-bg: #f5f5f5;
  --border: #eee;
}

@media screen and (max-width: 600px) {
  :root {
      --gap: 14px;
  }
}

.dark {
  --theme: #222E33; /* blue-gray-darkest */
  --entry: #465E68; /* blue-gray-dark */
  --primary: #73B3C0; /* Cyan */
  --secondary: #DAE3E8;
  --tertiary: #CC6666;
  --content: #C5C5C0; /* Gray */

  --red: #CC6666;
  --yellow: #DBCD7F;
  --magenta: #C5487A;

  --hljs-bg: #2e2e33;
  --code-bg: #37383e;
  --border: #5b5d67;
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}

.post-content a {
  color: var(--red);
  box-shadow: none;
}

.post-content hr {
  background-color: var(--yellow);
}

.terms-tags a {
  background: var(--red);
  color: var(--secondary);
}

.social-icons a {
  color: var(--red);
}

/* // This file defines all the colours used in the Toothpaste theme.

// Gray
@gray:              #C5C5C0;

// Blue-Grays
@blue-gray-light:   #DAE3E8;
@blue-gray-dark:    #465E68;
@blue-gray-darkest: #222E33;

// Yellow
@yellow-light:      #DBCD7F;
@yellow:            #49483E;
@yellow-dark:       #3E3D32;
@yellow-darkest:    #3B3A32;

// Blue
@blue-light:        #96CBFE;
@blue:              #769EB3;

// Cyan
@cyan:              #73B3C0;

// Green
@green-light:       #A8FF60;
@green:             #9DC777;
@green-dark:        #97B853;
@green-translucent: rgba(111, 191, 111, 0.83);

// Orange
@orange:            #E9C062;
@orange-dark:       #C88E4B;

// Red
@red-light:         #E36868;
@red:               #CC6666;

// Magenta
@magenta:           #C5487A;

// Purple
@purple:            #9B82C9; */